/* nav {
    background: #395194;
    height: 80px;
    width: 100%;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 150px;
    padding-top: 10px;
    
  }
  li {
    float: left;

  }

  li button {
    background-color:whitesmoke;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  #form
  {
    padding-bottom: 4px;
    font-size: 40px;
  }
  #signIn
  {
    padding-right: 620px;
    font-family: serif;
    font-size: 26px;
    color: white;
    padding-top: 2px;
  } */
